.ui-icons-16{width: 16px;height: 16px;}
.ui-icons-18{width: 18px;height: 18px;}
.ui-icons-20{width: 20px;height: 20px;}
.ui-icons-24{width: 24px;height: 24px;}
.ui-icons-28{width: 28px;height: 28px;}
.ui-icons-32{width: 32px;height: 32px;}
.ui-icons-48{width: 48px;height: 48px;}
.ui-icons-000,.ui-icons-black {
	stroke: #000
}
.ui-icons-111 {
	stroke: #111
}
.ui-icons-333 {
	stroke: #333
}
.ui-icons-666 {
	stroke: #666
}
.ui-icons-678 {
	stroke: #f6f7f8
}
.ui-icons-999 {
	stroke: #999
}
.ui-icons-f5f {
	stroke: #f5f5f5
}
.ui-icons-ddd {
	stroke: #ddd
}
.ui-icons-eee {
	stroke: #eee
}
.ui-icons-red {
	stroke: red
}
.ui-icons-green {
	stroke: green
}
.ui-icons-blue {
	stroke: blue
}
.ui-icons-yellow {
	stroke: yellow
}
.ui-icons-pink {
	stroke: pink
}
.ui-icons-fff,.ui-icons-White {
	stroke: #fff
}
.ui-icons-orange {
	stroke:orange;
}
.ui-icons-8A2{
	stroke: #8A2BE2
}
.ui-icons-7B6{
	stroke: #7B68EE
}
.ui-icons-ff4{
	stroke: #FF4500
}
.ui-icons-ff7{
	stroke: #FF7F50
}
.ui-icons-f4a{
	stroke: #F4A460
}
.ui-icons-f08{
	stroke: #F08080
}
.ui-icons-ff8{
	stroke: #FF8C00
}
.ui-icons-ee8{
	stroke: #EE82EE
}
.ui-icons-b88{
	stroke: #B8860B
}
.ui-icons-daa{
	stroke: #DAA520
}
.ui-icons-ffd,.ui-icons-Gold{
	stroke: #FFD700
}
.ui-icons-2e8{
	stroke: #2E8B57
}
.ui-icons-66c{
	stroke: #66CDAA
}
.ui-icons-98f{
	stroke: #98F898
}
.ui-icons-008{
	stroke: #008080
}	
.ui-icons-416{
	stroke: #4169E1
}
.ui-icons-0cd{
	stroke: #0000CD
}
.ui-icons-1e9{
	stroke: #1E90FF
}
.ui-icons-0bf{
	stroke: #00BFFF
}	
.ui-icons-649{
	stroke: #6495ED
}
.ui-icons-080{
	stroke: #000080
}
.ui-icons-ced{
	stroke: #00CED1
}	
.ui-icons-fa8{
	stroke: #FA8072
}
